include README.md
include LICENSE
include requirements.txt
include MANIFEST.in

recursive-include docs *.md
recursive-include examples *.py
recursive-include tests *.py

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude *.pdb